<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <title>PhoenixApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- External library -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

  </head>

  <body class="relative">
    <%= render 'shared/navbar' %>
    <main class="flex">
      <%= yield %>
    </main>
    <div class="scroll-top">
      <a class="button-to-top" href="#"><i class="fas fa-chevron-circle-up"></i></a>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
